# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
# IntelliJ
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/
out/
/nbproject/private/
/build/
/.idea
/.vscode
/nbproject/
# Flutter
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

/ios/Pods/
/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework
/ios/.symlinks/
/ios/Runner/GeneratedPluginRegistrant.h
/ios/Runner/GeneratedPluginRegistrant.m

# Android
/android/key.properties
/android/local.properties
/android/app/google-services.json
